.order-form label {
    margin-right: 5px;
}

.modal-footer .btn-danger {
    margin-left: 10px;
}

.guide {
    padding: 20px 40px;
    font-size: 18px;
}

.loading-product {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    text-align: center;
    background-color: white;
}

.loading-product img {
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: 10px;
    width: 30px;
    height: 30px;
}

.product-list {
    border: 1px solid #83bcf9;
}

.product-list .product-item {
    border-bottom: 1px solid #cdcdd0;
    padding: 2px 5px;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.product-list .product-item:hover {
    background-color: #83bcf9;
}

.bg-gradient-success {
    background: #019f96 linear-gradient(180deg,#48b461,#019f96) repeat-x !important;
    color: #fff;
}

.bg-gradient-danger {
    background: #e41a11 linear-gradient(180deg,#e15361,#e41a11) repeat-x!important;
    color: #fff;
}

.info-box {
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    border-radius: .25rem;
    background: #fff;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
    min-height: 80px;
    padding: .5rem;
    position: relative;
}

.info-box .info-box-content {
    -ms-flex: 1;
    flex: 1;
    padding: 5px 10px;
}

.info-box .info-box-text {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.info-box .info-box-number {
    display: block;
    font-weight: 700;
}