<div class="positions">
    <div *ngIf="selectedAccount.AccountNumber == 'All'">
        <div class="alert alert-warning text-center">
            This view is not available for all / aggregate account selection
        </div>
    </div>
    <div *ngIf="selectedAccount.AccountNumber != 'All'">
        <input class="form-control search-product" type="text" placeholder="Search..." name="searchTerm"
            [(ngModel)]="service.searchTerm" />
        <div class="ml-3" *ngIf="service.loading$ | async">Loading...</div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" sortableposition="ProductName" (sortposition)="onSort($event)">Product</th>
                    <th scope="col" sortableposition="Position" (sortposition)="onSort($event)">Position</th>
                    <th scope="col" sortableposition="Allocation" (sortposition)="onSort($event)">Allocation%</th>
                    <th scope="col" sortableposition="Quantity" (sortposition)="onSort($event)">Quantity</th>
                    <th scope="col" sortableposition="AvgEntryPrice" (sortposition)="onSort($event)">
                        Avg Entry Price
                    </th>
                    <th scope="col" sortableposition="EntryDate" (sortposition)="onSort($event)">
                        Entry Date
                    </th>
                    <th scope="col" sortableposition="UnrealizedPL" (sortposition)="onSort($event)">Unrealized P/L</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let position of service.positions$ | async">
                    <td>
                        <ngb-highlight [result]="position.ProductName" [term]="service.searchTerm"></ngb-highlight>
                        <br />
                        <ngb-highlight [result]="position.Symbol" [term]="service.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="position.Position" [term]="service.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                        {{position.Allocation * 100 | number : '1.2-2'}}%
                    </td>
                    <td>
                        {{position.Quantity}}
                    </td>
                    <td>
                        {{position.Currency}} {{position.AvgEntryPrice | number : '1.2-2'}}
                    </td>
                    <td>
                        <span *ngIf="position.HasAlgoPosition">{{position.EntryDate | date:'mediumDate'}}</span>
                    </td>
                    <td [ngClass]="{'green-profit': position.UnrealizedPL >= 0, 'red-loss': position.UnrealizedPL < 0}">
                        {{position.Currency}} {{position.UnrealizedPL | number : '1.2-2'}}
                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="close(position)">Close</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="(service.total$ | async)!" [(page)]="service.page"
                [pageSize]="service.pageSize">
            </ngb-pagination>

            <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
                <option [ngValue]="5">5 items per page</option>
                <option [ngValue]="10">10 items per page</option>
                <option [ngValue]="20">20 items per page</option>
            </select>
        </div>
    </div>
</div>